<html>
    <head>
        <!--Header-->
	    <%- include('../partials/headers/header-admin.ejs')%> 

        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    </head>

    <body>
        <div class="welcome-bar">
            <h1>Welcome <%- user.name %>!</h1>
        </div>
        
       <!--<div class="date">
            <input type="date">
        </div> --> 
       
        <!--------------- END OF WELCOME BAR ----------------->       
        <div class="container">
            <main>
                <div class="insights">
                    <div class="student-count">
                      <!--<span> Logo-->
                       <div class="middle">
                            <div class="left">
                                <h3>Total Students</h3>
                                <h1>10</h1>
                            </div>
                       </div> 
                       <small class="text-muted">Last 24 Hours</small>   
                    </div>
                    <!----------- END OF STUDENT COUNT ------------>
                    <div class="teacher-count">
                        <!--<span> Logo-->
                         <div class="middle">
                              <div class="left">
                                  <h3>Total Teachers</h3>
                                  <h1>20</h1>
                              </div>
                         </div> 
                         <small class="text-muted">Last 24 Hours</small>   
                      </div>
                      <!----------- END OF TEACHER COUNT ------------>
        
                      <div class="class-count">
                        <!--<span> Logo-->
                         <div class="middle">
                              <div class="left">
                                  <h3>Total Classes</h3>
                                  <h1><%= subjects.length %></h1>
                              </div>
                         </div> 
                         <small class="text-muted">Last 24 Hours</small>   
                      </div>
                      <!----------- END OF CLASS COUNT ------------>
                </div>
                <!--------------- END OF INSIGHTS ----------------->
                <div class="recent-activities">
                    <h2>Recent Activities</h2>
                    <table>
                        <thread>
                            <tr>
                                <!--Include role as well?-->
                                <th>Time</th>
                                <th>User</th>
                                <th>Class</th>
                                <th>Activity</th>
                            </tr>
                        </thread>
                        <tbody>
                            <% for (var i=0; i < 6; i++) { %>
                                <tr>
                                    <!-- Date -->
                                    <td><%= audits[i].timestamp %></td>
                                    <!-- Author -->
                                    <td><%= audits[i].user.name %> (<%= audits[i].user.role %>) [<%= audits[i].user.email %>]</td>
                                    <!-- Class -->
                                    <td></td><!--Encounteredd error with accessing className, unable to access undefined-->
                                    <!-- Type of Change -->
                                    <td><%= audits[i].description %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <a href="/admin/aduit">Explore More Audits</a>
                </div>
                <!--------------- END OF RECENY ACTIVITIES ----------------->
            </main>
            <!--------------- END OF MAIN ----------------->
            <div class="right">
                <h2>Creation Station</h2>
                <div class="admin-create-bar">
                    <a href="/admin/create-user">
                        <span class="material-symbols-outlined">account_circle</span>
                        <h3>Create User</h3>
                    </a>
                    <a href="/admin/create-class">
                        <span class="material-symbols-outlined">school</span>
                        <h3>Create Class</h3>
                    </a>
                    <a href="/admin/create-subject">
                        <span class="material-symbols-outlined">subject</span>
                        <h3>Create Subject</h3>
                    </a>
                </div>
                <!--------------- END OF ADMIN CREATION BAR ----------------->
                <div class="active-classes">
                    <h2>Active Classes</h2>
                    <div class="class-container">
                        <h3>
                            <% let hr = new Date().getHours();%>
                            <% let min = new Date().getMinutes();%>
                            <% let period = ["AM","PM"]; %>
                            <% if (hr === 0) { %>
                                <% hr = 12; %>
                                <%= hr %>  :
                                <% if (min < 10) { %>
                                    0<%= min %>
                                <% } else { %>
                                    <%= min %>
                                <% } %>
                                <%= period[0] %>
                            <% } else if (hr > 12) { %>
                                <% hr = hr % 12; %>
                                <%= hr %>  :
                                <% if (min < 10) { %>
                                    0<%= min %>
                                <% } else { %>
                                    <%= min %>
                                <% } %>
                                <%= period[1] %>
                            <% } else { %>
                                0<%= hr %>  :
                                <% if (min < 10) { %>
                                    0<%= min %>
                                <% } else { %>
                                    <%= min %>
                                <% } %>
                                <%= period[0] %>
                            <% } %>
                        </h3>
                        <h1>
                            <% let m = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; %>
                            <%= m[new Date().getMonth()];%>
                            <%= new Date().getDate();%>,
                            <%= new Date().getFullYear();%>
                        </h1>
                        <div class="class-format">
                            <h4>Class Name</h4>
                            <small>1:15-1:23pm</small>
                        </div>
                        <div class="class-format">
                            <h4>Class Name</h4>
                            <small>1:15-1:23pm</small>
                        </div>
                        <div class="class-format">
                            <h4>Class Name</h4>
                            <small>1:15-1:23pm</small>
                        </div>
                        <div class="class-format">
                            <h4>Class Name</h4>
                            <small>1:15-1:23pm</small>
                        </div>
                    </div>
                    <a href="#">Load All</a>
                </div>
                <!--------------- END OF ACTIVE CLASSES ----------------->
            </div>
            <!--------------- END OF RIGHT ----------------->
        </div>
    </body>
</html>

