
<table>
    <thead>
        <tr>
            <!--Table Header Items-->
            <th>Class ID</th>
            <th>Name</th>
            <th>Teacher</th>
            <th>Location</th>
            <th style="width: 250px";>Time</th>
            <th>Capacity</th>
        </tr>
    </thead>
    <tbody id="classEntry-container">
        <% for (var i=0; i < classes.length; i++) { %>
        <tr>
            <!--Displays Class ID-->
            <td>
                <%= classes[i].subject.classID %>-<%= classes[i].subject.department %>
            </td>

            <!--Displays Class Name-->
            <td>
                <%= classes[i].subject.className %>
            </td>
        
            <!--Displays Teacher Name-->
            <td>
                <% if(classes[i].teacher){ %>
                    <%= classes[i].teacher.name %>
                  <% } else{ %>  
                    Undetermined
                 <% } %>
            </td>
            
            <!--Displays Class Building and Room Number-->
            <td>
                <% if(classes[i].room){ %>
                    <%= classes[i].room.building %>-<%= classes[i].room.number %>
                  <% } else{ %>  
                    Undetermined
                 <% } %>
            </td>

            <!--Displays Class Schedule-->
                <td>
                    <% if(classes[i].schedule && classes[i].schedule.classTimes){ %>
                        <% for (var j=0; j < classes[i].schedule.classTimes.length; j++) { %>
                            <%= classes[i].schedule.classTimes[j].day %>
                            <% if(j < classes[i].schedule.classTimes.length - 1) { %>
                                &nbsp &nbsp
                            <% } %>
                        <% } %>
                        <br>
                        <% for (var j=0; j < classes[i].schedule.classTimes.length; j++) { %>
                            <% if(j == 0) { %>
                                <%= classes[i].schedule.classTimes[j].startTime %>
                                -
                                <%= classes[i].schedule.classTimes[j].endTime %>
                                <% if(j < classes[i].schedule.classTimes.length - 1) { %>
                                    &nbsp &nbsp
                                <% } %>
                            <% } %>
                        <% } %>
                    <% } else{ %>  
                        Undetermined
                    <% } %>
            </td>
            
            <!--Displays Class Capacity-->
            <td>
                <% if(classes[i].room){ %>
                    <%= classes[i].room.capacity %>
                <% } else{ %>  
                    Undetermined
                <% } %>
            </td>
        
            <!--Displays Button 1-->
            <td>                
                <button type="button" class="btn-edit" data-class-id="<%= classes[i]._id %>" 
                    data-course-name="<%= classes[i].subject.className %>" onClick="addToWishlist(this)">
                    <span class="material-symbols-outlined">
                        bookmark
                    </span>
                </button>
            </td> 
        </tr>
        <% } %>
    </tbody> 
</table>
