
<div class="insights">
<% for (var i=0; i < classes.length; i++) { %>
<div class="register-classEntry">
    
    <!--Displays Class Subject-->
        <h3>
            <%= classes[i].subject.classID %>-<%= classes[i].subject.department %>
        </h3>

    <!--Displays Class Name-->
            <h1>
                <%= classes[i].subject.className %>
            </h1>

    <!--Displays Teacher Name-->
        <div class="teacher-name  ">
            <% if(classes[i].teacher){ %>
                <%= classes[i].teacher.name %>
            <% } else{ %>  
                Undetermined
            <% } %>
        </div>
    
    <!--Displays Class Building and Room Number-->
        <div class="class-room">
                <% if(classes[i].room){ %>
                    <%= classes[i].room.building %>-<%= classes[i].room.number %>
                  <% } else{ %>  
                    Undetermined
                 <% } %>
        </div>
    

    <!--Displays Class Schedule-->
    <div class="schedule">
                <% if(classes[i].schedule && classes[i].schedule.classTimes){ %>
                    <% for (var j=0; j < classes[i].schedule.classTimes.length; j++) { %>
                        <%= classes[i].schedule.classTimes[j].day %>
                        [
                        <%= classes[i].schedule.classTimes[j].startTime %>
                        -
                        <%= classes[i].schedule.classTimes[j].endTime %>
                        ]
                        <% if(j < classes[i].schedule.classTimes.length - 1) { %>
                            &nbsp &nbsp
                        <% } %>
                    <% } %>
                <% } else{ %>  
                    Undetermined
                <% } %>
        </div>

        <!--Displays Class Capacity-->
        <div class="capacity">
            Capacity:
            <% if(classes[i].room){ %>
                <%= classes[i].room.capacity %>
            <% } else{ %>  
                Undetermined
            <% } %>
        </div>

    <!--Unregister Button-->

        <div class="unregister-button">
            <button type="button" class="btn-primary" data-class-id="<%= classes[i]._id %>" onClick="unregister(this)">
                Unregister
            </button>
        </div>

</div>
<% } %>
</div>