<form method="POST" class="edit-class" action="/edit-classes/edit-room-capacity">
    <input type="hidden" name="roomDatabaseID" value="<%= roomData._id %>">
    <input type="hidden" name="classDatabaseID" value="<%= classID %>">
    <div class="class-edit-container">
        <h1>Edit Capacity</h1>
        <h2><%=roomData.building%>-<%=roomData.number%></h2>
        <div class="edit-entry">
            <input type="number" class="form-control" id="capacity" name="capacity" min="1" value="<%=roomData.capacity%>" required>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn-primary btn-save-changes">Save Room</button>
        </div>
    </div>
</form>